<p style="font-family: Arial; font-size:3.75vw;color:purple; font-style:bold"><br>
Clustering Exercise Notebook
</p><br>

# Exercise Notebook Instructions

### 1. Important: Only modify the cells which instruct you to modify them - leave "do not modify" cells alone.  

The code which tests your responses assumes you have run the startup/read-only code exactly.

### 2. Work through the notebook in order.

Some of the steps depend on previous, so you'll want to move through the notebook in order.

### 3. It is okay to use numpy libraries.

You may find some of these questions are fairly straightforward to answer using built-in numpy functions.  That's totally okay - part of the point of these exercises is to familiarize you with the commonly used numpy functions.

### 4. Seek help if stuck

If you get stuck, don't worry!  You can either review the videos/notebooks from this week, ask in the course forums, or look to the solutions for the correct answer.  BUT, be careful about looking to the solutions too quickly.  Struggling to get the right answer is an important part of the learning process.

In [1]:
# DO NOT MODIFY

# import appropriate libraries

from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
import pandas as pd
import numpy as np

In [10]:
# DO NOT MODIFY

# We will use the minute weather dataset for this exercise.

def get_data():
    return pd.read_csv('../Week-7-MachineLearning/weather/minute_weather.csv')

df = get_data()

In [15]:
df[df.index != df['rowID']]

Empty DataFrame
Columns: [rowID, hpwren_timestamp, air_pressure, air_temp, avg_wind_direction, avg_wind_speed, max_wind_direction, max_wind_speed, min_wind_direction, min_wind_speed, rain_accumulation, rain_duration, relative_humidity]
Index: []

<p style="font-family: Arial; font-size:2.75vw;color:purple; font-style:bold"><br>

Exercise 1: Sampling Down a Time Series Dataset<br><br></p>


In the cell below, modify the function to RETURN a new dataframe that is 
sampled down by taking every k row only. For example, if k = 5, the 
function will take every 5th row and skip rows in between.

The inputs to function are a dataframe and an integer k.

In [20]:
# modify this cell

def down_sample(df, k):
    ### BEGIN SOLUTION
    return df[df['rowID'] % k == 0]
    ### END SOLUTION

In [21]:
# DO NOT MODIFY
ans = 15873

try:
    sampled_df = down_sample(df, 100)
    assert np.alltrue(sampled_df.shape[0] == ans)
except AssertionError as e: print("Try again, your output did not match the expected answer above")

<p style="font-family: Arial; font-size:2.75vw;color:purple; font-style:bold"><br>

Exercise 2: Data Cleaning<br><br></p>


In the cell below, modify the function to do following tasks and RETURN a new data frame: (do not modify the input dataframe) <br><br>

- delete column 'rain_accumulation'
- delete column 'rain_duration'
- delete rows that contain atleast one NULL

In [24]:
# modify this cell

def clean_data(df):
    ### BEGIN SOLUTION
    dfc = df.copy()
    del dfc['rain_accumulation']
    del dfc['rain_duration']
    return dfc.dropna()
    ### END SOLUTION

In [25]:
# DO NOT MODIFY

try: 
    cleaned_df = clean_data(sampled_df)
    assert np.alltrue(sampled_df.shape == (15873, 13))
    assert np.alltrue(cleaned_df.shape == (15870, 11))
except AssertionError as e: print("Try again ! Check both  clean_data and down_sample functions")

In [26]:
cleaned_df.describe()

,rowID,air_pressure,air_temp,avg_wind_direction,avg_wind_speed,max_wind_direction,max_wind_speed,min_wind_direction,min_wind_speed,relative_humidity
count,1.587000e+04,15870.000000,15870.000000,15870.000000,15870.000000,15870.000000,15870.000000,15870.000000,15870.000000,15870.000000
mean,7.936240e+05,916.829464,61.857384,161.287524,2.792804,162.700945,3.414625,166.644297,2.152268,47.591084
std,4.582191e+05,3.051662,11.834858,95.313161,2.070506,92.269601,2.428906,97.824836,1.758114,26.189680
min,0.000000e+00,905.100000,32.360000,0.000000,0.100000,0.000000,0.100000,0.000000,0.000000,1.500000
25%,3.968250e+05,914.800000,52.700000,61.000000,1.300000,68.000000,1.600000,75.000000,0.800000,24.700000
50%,7.936500e+05,916.700000,62.420000,182.000000,2.200000,186.000000,2.800000,180.000000,1.700000,44.600000
75%,1.190375e+06,918.700000,70.880000,217.000000,3.800000,223.000000,4.600000,212.000000,3.000000,67.900000
max,1.587200e+06,929.400000,96.440000,359.000000,20.100000,359.000000,20.900000,359.000000,19.500000,92.900000

<p style="font-family: Arial; font-size:2.75vw;color:purple; font-style:bold"><br>

Exercise 3: Perform Scaling of input data<br><br></p>

In the cell below, modify the function that takes three inputs: a dataframe D, a list of features F
<br>
The function should do the following:
<br>
- Pick out columns corresponding to features F from dataframe D
- Use StandardScaler to perform scaling and return the scaled data frame

In [42]:
# modify this cell
from sklearn.preprocessing import StandardScaler
def scale_task(D, F):
    ### BEGIN SOLUTION
    df_copy = D.copy()
    df_copy = df_copy[F]
    X = StandardScaler().fit_transform(df_copy)  
    return pd.DataFrame(X, columns=df_copy.columns)
    ### END SOLUTION
scale_task(cleaned_df, features)

       air_pressure  air_temp  relative_humidity
0         -1.484308  0.245268           0.492916
1         -1.648159  0.093170           0.622743
2         -1.779239  0.519044          -0.541875
3         -1.779239  0.199638           0.405093
4         -1.517078 -0.773788           1.611713
...             ...       ...                ...
15865     -0.828907  1.294743          -0.167670
15866     -0.796137  1.279533          -0.182944
15867     -0.632287  1.188274          -0.140941
15868     -0.370126  1.142645          -0.034025
15869     -0.304586  1.173065           0.007977

[15870 rows x 3 columns]

In [43]:
# DO NOT MODIFY

try: 
    features = ['air_pressure', 'air_temp', 'relative_humidity']
    scaled_data = scale_task(cleaned_df, features)
    assert np.allclose(scaled_data.mean(axis=0), 0)
    assert np.allclose(scaled_data.std(axis=0),1, atol=1e-04)
except AssertionError as e: print("Try again, your solution did not produce the expected output above")

<p style="font-family: Arial; font-size:2.75vw;color:purple; font-style:bold"><br>

Exercise 4: Perform Clustering<br><br></p>

In the cell below, modify the function that takes two inputs: a dataframe D (already scaled using your previous function), and an integer for # of clusters to create N.
<br>
The function should do the following:
<br>
- Perform clustering using your algorithm of choice
- Create N clusters
- Return a **dataframe** of N rows, where each row is a cluster center.

In [44]:
# modify this cell

def clustering_task(D, N):
    ### BEGIN SOLUTION
    kmeans = KMeans(n_clusters=N)
    model = kmeans.fit(D)
    return pd.DataFrame(model.cluster_centers_, columns=D.columns)
    ### END SOLUTION
clustering_task(scaled_data, 3)

   air_pressure  air_temp  relative_humidity
0     -0.449324 -0.971650           1.128254
1     -0.293894  0.837704          -0.433881
2      1.171305 -0.091323          -0.853773

In [45]:
# DO NOT MODIFY

try: 
    ct = clustering_task(scaled_data, 3)
    assert np.alltrue(ct.shape == (3, 3))
except AssertionError as e: print("Keep trying - ensure all previous functions also work correctly ")

try:
    print(40*'-')
    print(ct.describe())
except AssertionError as e: print("Ensure clustering_task returns a Pandas dataframe")

----------------------------------------
       air_pressure  air_temp  relative_humidity
count      3.000000  3.000000           3.000000
mean       0.137613 -0.071451          -0.051707
std        0.890683  0.905689           1.044045
min       -0.448032 -0.972813          -0.853996
25%       -0.374886 -0.526429          -0.641920
50%       -0.301741 -0.080045          -0.429843
75%        0.430435  0.379230           0.349438
max        1.162612  0.838504           1.128719