In [5]:
import pandas as pd
import numpy as np
df = pd.DataFrame({"1a": [1, 2, 33],
                   "2": [2, 3, 4],
                   "3": [3, 4, 5]})
df, np.mean(df.mean(axis = 1)), np.mean(df.mean(axis = 0))

(   1a  2  3
 0   1  2  3
 1   2  3  4
 2  33  4  5,
 6.333333333333333,
 6.333333333333333)

In [9]:
import pandas as pd
df = pd.DataFrame({"Name": ["Jim", "Larry", "Sam"],
                   "Ocupation": ["Teacher", "Web Developer", "Programmer"],
                   "Date of Birth": ["(1988)", "(1989)", "(1990)"]})
df
df["Ocupation"].str[0]

0    T
1    W
2    P
Name: Ocupation, dtype: object

In [31]:
import pandas as pd
import numpy as np
df = pd.DataFrame({"1a": [2, 3, 4, 5],
                   "2s": [2, None, 4, 4],
                   "3d": [None, 2, 4, 5]})
df,df.mean(axis = 1, skipna=False), np.mean(df.mean(axis = 1, skipna=False))
df, df.dropna(axis = 1)

(   1a   2s   3d
 0   2  2.0  NaN
 1   3  NaN  2.0
 2   4  4.0  4.0
 3   5  4.0  5.0,
    1a
 0   2
 1   3
 2   4
 3   5)

In [37]:
import pandas as pd
df = pd.DataFrame({"Name": ["Jim", "Larry", "Sam"],
                   "Ocupation": ["Teacher", "Web Developer", "Programmer"],
                   "Date of Birth": ["(1988)", "(1989)", "(1990)"]})
df
df["Date of Birth"].str.replace('(', '').str.replace(')', '')

0    1988
1    1989
2    1990
Name: Date of Birth, dtype: object

In [54]:
import pandas as pd
import numpy as np
df = pd.DataFrame({"1s": [2, 3, 4, None],
                   "2d": [2, None, 4, 4],
                   "3f": [None, 2, 4, 5]})

df,np.mean(df.mean(axis = 1, skipna=True))
df.mean(axis = 1, skipna=True)
df["1s"],df.iloc[0]

(0    2.0
 1    3.0
 2    4.0
 3    NaN
 Name: 1s, dtype: float64,
 1s    2.0
 2d    2.0
 3f    NaN
 Name: 0, dtype: float64)

In [44]:
ser = pd.Series(data=[1, 2, 3], index=['red', 'green', 'blue'])
ser

red      1
green    2
blue     3
dtype: int64

In [48]:
ser.loc['green']

2

In [ ]:
pd.DataFrame()
# ndarray (structured or homogeneous), Iterable, dict, or DataFrame
#    Dict can contain Series, arrays, constants, or list-like objects.