<p style="font-family: Arial; font-size:3.75vw;color:purple; font-style:bold"><br>
matplotlib Exercise Notebook
</p><br>

# Exercise Notebook Instructions

### 1. Important: Only modify the cells which instruct you to modify them - leave "do not modify" cells alone.  

The code which tests your responses assumes you have run the startup/read-only code exactly.

### 2. Work through the notebook in order.

Some of the steps depend on previous, so you'll want to move through the notebook in order.

### 3. It is okay to use numpy libraries.

You may find some of these questions are fairly straightforward to answer using built-in numpy functions.  That's totally okay - part of the point of these exercises is to familiarize you with the commonly used numpy functions.

### 4. Seek help if stuck

If you get stuck, don't worry!  You can either review the videos/notebooks from this week, ask in the course forums, or look to the solutions for the correct answer.  BUT, be careful about looking to the solutions too quickly.  Struggling to get the right answer is an important part of the learning process.

In [1]:
# DO NOT MODIFY

# import appropriate libraries

import matplotlib.pyplot as plt
import numpy as np
import sqlite3
import pandas as pd 
%matplotlib inline

In [2]:
# DO NOT MODIFY

# we will use this dataset for some portions of this exercise.
# source: https://www.kaggle.com/hugomathien/soccer

def get_data():
    cnx = sqlite3.connect('../../database.sqlite')
    df = pd.read_sql_query("SELECT * FROM Player_Attributes", cnx)
    return df

df = get_data()

DatabaseError: Execution failed on sql 'SELECT * FROM Player_Attributes': no such table: Player_Attributes

In [ ]:
#DO NOT MODIFY

# Let's see what is in our dataset
df.describe()

<p style="font-family: Arial; font-size:2.75vw;color:purple; font-style:bold"><br>

Exercise 1: Line Plot<br><br></p>


In the cell below, modify the function to plot x vs y, where x and y 
are column names of dataframe (df) which is also entered as input to the function. The function should

- First sort the dataframe by the column 'x'
- Take the first 50 rows for plotting (discard the remaining)
- Provide a title
- Label x and y axes

In [ ]:
# modify this cell

def line_plot(df, x, y):
    ### BEGIN SOLUTION

    
    
    ### END SOLUTION

In [ ]:
# DO NOT MODIFY

# your function should give a plot similar to the following:
line_plot(df, 'potential', 'overall_rating')

Your solution to Exercise 1 should look like this:
![plot1.png](attachment:plot1.png)

<p style="font-family: Arial; font-size:2.75vw;color:purple; font-style:bold"><br>

Exercise 2: Histogram <br><br></p>


In the cell below, modify the function to plot a histogram. The function should take an input parameter X which is a column name of the dataframe df, also passed to the function. Be sure to drop NULL values before you plot the histogram.

In [ ]:
# modify this cell

def plot_histogram(df, X):
    ### BEGIN SOLUTION

    
    ### END SOLUTION

In [ ]:
# DO NOT MODIFY

# your plot should look similar to the following:
plot_histogram(df, 'overall_rating')

Your solution for Exercise 2 should look like this:
![plot2.png](attachment:plot2.png)

<p style="font-family: Arial; font-size:2.75vw;color:purple; font-style:bold"><br>

Exercise 3: Scatter Plot<br><br></p>

In the cell below, modify the function to plot...

In [ ]:
# modify this cell

def plot_scatter(df, x, y):
    ### BEGIN SOLUTION

    
    
    
    
    ### END SOLUTION

In [ ]:
# DO NOT MODIFY

# your plot should look similar to the following:
plot_scatter(df, 'gk_diving', 'gk_handling')

Your solution to Excercise 3 should look like this:
![plot3.png](attachment:plot3.png)